In [32]:
import pandas as pd

In [33]:
data = pd.read_csv('survey lung cancer.csv')
data.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO

In [34]:
data.isnull().sum()

GENDER                   0
AGE                      0
SMOKING                  0
YELLOW_FINGERS           0
ANXIETY                  0
PEER_PRESSURE            0
CHRONIC DISEASE          0
FATIGUE                  0
ALLERGY                  0
WHEEZING                 0
ALCOHOL CONSUMING        0
COUGHING                 0
SHORTNESS OF BREATH      0
SWALLOWING DIFFICULTY    0
CHEST PAIN               0
LUNG_CANCER              0
dtype: int64

In [35]:
data.duplicated().sum()

np.int64(33)

There are not null values but we have duplicated rows

In [36]:
data.drop_duplicates(inplace=True)

In [37]:
data.duplicated().sum()

np.int64(0)

Now the duplicates are removed

We will remove unsecessary columns to have the good ones

In [38]:
data = data.drop(columns = ['YELLOW_FINGERS',	'ANXIETY',	'PEER_PRESSURE','CHRONIC DISEASE','FATIGUE '	,'ALLERGY ',	'WHEEZING','SHORTNESS OF BREATH',	'SWALLOWING DIFFICULTY'],axis =1)

In [39]:
data.head()

  GENDER  AGE  SMOKING  ALCOHOL CONSUMING  COUGHING  CHEST PAIN LUNG_CANCER
0      M   69        1                  2         2           2         YES
1      M   74        2                  1         1           2         YES
2      F   59        1                  1         2           2          NO
3      M   63        2                  2         1           2          NO
4      F   63        1                  1         2           1          NO

In [42]:
data.to_csv("Lung_cancerNEW.csv",index=False)